hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em;
    padding: 0;
}

.owen-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.centered {
  text-align: center;
}

/* .graph {
  height: 500px;
  width: 500px;
} */

.slider {
  width: 50%;
}

.slider-value {
  font-size: 2em;
  font-weight: 900;
}
