/* Header */
.death-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.author-text {
  font-size: 0.75em;
  font-weight: 500;
}

/* Utilities */
.centered {
  text-align: center;
}
button {
  font-size: 1.3rem;
}

/* Sliders */
.average-button {
  margin-top: 1rem;
}
.slider {
  width: 50%;
}
.slider-value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -10px;
}

/* Bolding the headings */
.title {
  font-weight: 500;
}

/* Spacers */
br {
  line-height: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 0;
}

/* Graph stylings */
.graph {
  height: 48rem;
}
.stacked {
  height: 49rem;
}
.year-control {
  margin-top: 2rem;
}

/* Mobile support */
@media only screen and (max-width: 780px) {
  button {
    padding: unset;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .graph, .stacked {
    height: 50rem;
  }
}